//Fuente principal
$poppins: "Poppins", sans-serif;

//Tamaños fuente
$title: 64px;
$subtitle: 24px;
$base: 18px;

//Colores
$blue: #264065;
$black: #070d15;
$grey: #909090;
$beige: #faf8f5;
$green: #a9d6cb;
