$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fuente principal
$poppins:  "Poppins", sans-serif;

//Tamaños fuente
$title: 60px;
$subtitle: 22px;
$base: 16px;

//Colores
$blue: #264065;
$black: #070D15;
$grey: #909090;

